In [11]:
import geopandas as gpd

df = gpd.read_file('Municipal_Boundaries/MUNICIPAL_BOUNDARIES.shp')
df.head()

,Name,CREATEDBY,CREATEDDAT,UPDATEDBY,UPDATEDATE,GlobalID,CODE,DOCYR,DOCNO,DOCDATE,SUBJECT,geometry
0,S.D. COUNTY,jack_quartic,2023-02-23,jack_quartic,2023-02-23,{E234DEDF-422D-47A8-9675-0E2DCD28472C},CN,0,NaN,NaN,NaN,"POLYGON Z ((6306225.532 2001183.889 0.000, 630..."
1,S.D. COUNTY,jack_quartic,2023-02-23,jack_quartic,2023-02-23,{ED8EFB65-5A1F-49DB-B2C0-1019E1E0C7A2},CN,0,NaN,NaN,NaN,"POLYGON Z ((6312037.154 1980895.609 0.000, 631..."
2,S.D. COUNTY,jack_quartic,2023-02-23,jack_quartic,2023-02-23,{9EA26A12-FAE2-4864-A12C-103E725080EF},CN,0,NaN,NaN,NaN,"POLYGON Z ((6307940.840 2003069.592 0.000, 630..."
3,S.D. COUNTY,jack_quartic,2023-02-23,jack_quartic,2023-02-23,{56545335-9C58-457B-9BB0-12E52EC467E1},CN,0,NaN,NaN,NaN,"POLYGON Z ((6299707.002 2000270.162 0.000, 629..."
4,CHULA VISTA,jack_quartic,2023-02-23,jack_quartic,2023-02-23,{E4CDF267-E4EC-453E-8D3C-18FC294D38AE},CV,0,NaN,NaN,NaN,"POLYGON Z ((6351603.136 1816566.962 0.000, 635..."

In [12]:
df["Name"].unique()

array(['S.D. COUNTY', 'CHULA VISTA', 'CORONADO', 'SAN MARCOS',
       'SAN DIEGO', 'POWAY', 'LEMON GROVE', 'LA MESA', 'VISTA',
       'ENCINITAS', 'DEL MAR', 'CARLSBAD', 'NATIONAL CITY',
       'IMPERIAL BEACH', 'ESCONDIDO', 'OCEANSIDE', 'SOLANA BEACH',
       'EL CAJON', 'SANTEE'], dtype=object)

In [13]:
cityDictionary = {
    'City of Chula Vista': ['CHULA VISTA'],
    'City of Coronado': ['CORONADO'] ,
    'City of Carlsbad':['CARLSBAD'],
    'City of Del Mar':['DEL MAR'],
    'City of El Cajon':['EL CAJON'],
    'City of Encinitas':['ENCINITAS'],
    'City of Escondido':['ESCONDIDO'],
    'City of La Mesa':['LA MESA'],
    'City of Lemon Grove':['LEMON GROVE'],
    'City of National City':['NATIONAL CITY'],
    'City of Oceanside':['OCEANSIDE'],
    'City of Poway':['POWAY'],
    'City of San Diego':['SAN DIEGO'],
    'City of Santee':['SANTEE'],
    'City of San Marcos':['SAN MARCOS'],
    'City of Vista':['VISTA'],
    'County of San Diego': ['S.D. COUNTY'],
    'City of Imperial Beach' : ['IMPERIAL BEACH'],
    'City of Solana Beach' : ['SOLANA BEACH']
    
}

In [14]:
def cityRenaming(col):
    for i in range(len(col)):
        cName = col[i]
        for k,v in cityDictionary.items():
            for dirtyCityName in v:
                if cName == dirtyCityName:
                    col[i] = k
    
    return col

In [15]:
df['Name'] = cityRenaming(df['Name'])

/var/folders/28/4fg2q17s7rn296k6g_md9qk80000gn/T/ipykernel_46370/353988582.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col[i] = k

In [16]:
df["Name"].unique()

array(['County of San Diego', 'City of Chula Vista', 'City of Coronado',
       'City of San Marcos', 'City of San Diego', 'City of Poway',
       'City of Lemon Grove', 'City of La Mesa', 'City of Vista',
       'City of Encinitas', 'City of Del Mar', 'City of Carlsbad',
       'City of National City', 'City of Imperial Beach',
       'City of Escondido', 'City of Oceanside', 'City of Solana Beach',
       'City of El Cajon', 'City of Santee'], dtype=object)

In [18]:
df.to_file('cleanedSDMunicipal_Boundaries.shp')